.container__big-card {
    border: 2px solid #fff;
    width: 500px;
    height: 600px;

    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__img {
    transition: 1s;
}

.big-card__img:hover {
    transform: scale(1.01);
    border-radius: 5px;
}

.big-card__title>h1 {
    margin-top: 15px;
    font-size: 20px;
}

.big-card__description {
    margin-top: 10px;
    color: #6d6c6c;
}